@model List<Category>

    <div class="container">
        <div class="row pt-4 pb-3">

           <div class="col-6">
               <h3 class="text-primary">Category List</h3>
           </div>
           <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i> Create New Category</a>
        </div>

        </div>

<table class="table table-bordered table-striped">
    <tr>
        <th>Category Name</th>
        <th>Display Order</th>
        <th>Actions</th>
    </tr>

    @foreach (var obj in Model.OrderBy(o=>o.DisplayOrder))
    {
    <tr>
        
        <td>@obj.Name</td>
        <td>@obj.DisplayOrder</td> 
        <td>
            <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> Edit</a>
                    <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2" onclick="return confirm('Are you sure you want to delete this Category?');"><i class="bi bi-trash-fill"></i> Delete</a>
        </td>
    </tr>
        }
</table>

</div>